<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="julja.gms.dao.GameDao">

  <resultMap type="Game" id="GameMap">
    <id column="game_id" property="no"/>
    <result column="titl" property="gameName"/>
    <result column="rdt" property="gameDate"/>
    <result column="pdt" property="gameProduction"/>
    <result column="pf" property="gamePlatform"/>
    <result column="genre" property="gameGenre"/>
    <result column="photo" property="photo"/>
    <result column="illust" property="gameIllust"/>
    <result column="vo" property="gameVoice"/>
  </resultMap>
  
  <sql id="select1">
    SELECT *
    FROM gms_game
  </sql>
  
  <insert id="insert" parameterType="Game">
    INSERT INTO gms_game(titl, rdt, pdt, pf, genre, photo, illust, vo) 
    VALUES(
      #{gameName}, 
      #{gameDate}, 
      #{gameProduction}, 
      #{gamePlatform}, 
      #{gameGenre}, 
      #{photo}, 
      #{gameIllust}, 
      #{gameVoice})
  </insert>
  
  <select id="findAll" resultMap="GameMap">
    <include refid="select1"/>
    <where>
      <if test="gameName!=null">titl LIKE CONCAT('%', #{gameName}, '%')</if>
      <if test="gameProduction!=null">AND pdt LIKE CONCAT('%', #{gameProduction}, '%')</if>
      <if test="gamePlatform!=null">AND pf LIKE CONCAT('%', #{gamePlatform}, '%')</if>
      <if test="gameGenre!=null">AND genre LIKE CONCAT('%', #{gameGenre}, '%')</if>
      <if test="gameIllust!=null">AND illust LIKE CONCAT('%', #{gameIllust}, '%')</if>
      <if test="gameVoice!=null">AND vo LIKE CONCAT('%', #{gameVoice}, '%')</if>
    </where>
  </select>

  
  <select id="findByNo" resultMap="GameMap" parameterType="int">
    <include refid="select1"/>
    WHERE game_id=#{no}
  </select>
  
  <update id="update" parameterType="Game">
    UPDATE gms_game 
    <set>
      <if test="gameName!=null and gameName != ''">titl=#{gameName},</if>
      <if test="gameProduction!=null and gameProduction != ''">pdt=#{gameProduction},</if>
      <if test="gameDate!=null">rdt=#{gameDate},</if> 
      <if test="gamePlatform!=null and gamePlatform != ''">pf=#{gamePlatform},</if> 
      <if test="gameGenre!=null and gameGenre != ''">genre=#{gameGenre},</if> 
      <if test="gameIllust!=null and gameIllust != ''">illust=#{gameIllust},</if> 
      <if test="gameVoice!=null and gameVoice != ''">vo=#{gameVoice},</if> 
      <if test="photo!=null and photo != ''">photo=#{photo}</if> 
    </set>
    WHERE game_id=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    DELETE FROM gms_game 
    WHERE game_id=#{no}
  </delete>
  
</mapper>
