<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="julja.gms.dao.UserDao">

  <resultMap type="User" id="UserMap">
    <id column="user_id" property="no"/>
    <result column="email" property="userEmail"/>
    <result column="pw" property="userPW"/>
    <result column="name" property="userName"/>
    <result column="rdt" property="userResisteredDate"/>
  </resultMap>
  
  <sql id="select1">
    SELECT * 
    FROM gms_user 
  </sql>
  
  <insert id="insert" parameterType="User">
    INSERT INTO gms_user(email, pw, name) 
    VALUES(#{userEmail}, password(#{userPW}), #{userName})
  </insert>
  
  <select id="findAll" resultMap="UserMap">
    <include refid="select1"/>
  </select>
  
  <select id="findByNo" resultMap="UserMap">
    <include refid="select1"/>
    WHERE user_id=#{no}
  </select>
  
  <select id="findByKeyword" resultMap="UserMap">
    <include refid="select1"/>
    WHERE user_id LIKE #{key} OR email LIKE #{key} OR name LIKE #{key}
  </select>
  
  <update id="update" parameterType="User">
    UPDATE gms_user 
    <set>
      <if test="userEmail!=null and userEmail!=''">email=#{userEmail},</if> 
      <if test="userPW!=null and userPW!=''">pw=password(#{userPW}),</if> 
      <if test="userName!=null and userName!=''">name=#{userName}</if> 
    </set>
    WHERE user_id=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    DELETE FROM gms_user 
    WHERE user_id=#{no}
  </delete>
  
  <select id="findByEmailAndPassword" resultMap="UserMap" parameterType="map">
    <include refid="select1"/>
    WHERE email=#{email} AND pw=password(#{password})
  </select>

</mapper>
